$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

html, body {
    height: 100%;
}

html {
    background: linear-gradient(rgb(64, 155, 135), rgb(255, 255, 255));
    overflow-y: auto !important;
}